---

---

<section class="quote-section">
  <div class="container">
    <div class="quote-wrapper quote-left">
      <blockquote class="quote">
        <span class="quote-mark">"</span>
        Supposing is a good , but finding out is better
        <span class="quote-mark">"</span>
      </blockquote>
      <p class="quote-author">- Mark Twain</p>
    </div>
    <div class="quote-wrapper quote-right">
      <blockquote class="quote">
        <span class="quote-mark">"</span>
        Continuous improvement is better than delayed perfection
        <span class="quote-mark">"</span>
      </blockquote>
      <p class="quote-author">- Mark Twain</p>
    </div>
  </div>
</section>

<style>
  .quote-section {
    padding: 4rem 0;
  }

  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .quote-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  .quote-wrapper + .quote-wrapper {
    margin-top: 2rem;
  }

  .quote-left {
    align-items: flex-start;
    margin-right: auto;
    margin-left: 0;
  }

  .quote-right {
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0;
  }

  .quote {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-primary);
    border: 1px solid var(--text-secondary);
    padding: 2rem;
    text-align: center;
    width: 100%;
  }

  .quote-mark {
    color: var(--text-secondary);
  }

  .quote-author {
    border: 1px solid var(--text-secondary);
    border-top: none;
    padding: 1rem 1.5rem;
    color: var(--text-secondary);
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    .quote {
      font-size: 1.25rem;
      padding: 1.5rem;
    }
  }
</style>
